@{
    ViewData["Title"] = "Home Page Frimax Comedor";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <h2>Sistema de Comedor Frimax</h2>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
