@model FrimaxComedor.Models.MenuLune

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MenuLune</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class ="form-control" asp-items="ViewBag.Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Caldosa" class="control-label"></label>
                <input asp-for="Caldosa" class="form-control" />
                <span asp-validation-for="Caldosa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Platillo1" class="control-label"></label>
                <input asp-for="Platillo1" class="form-control" />
                <span asp-validation-for="Platillo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Platillo2" class="control-label"></label>
                <input asp-for="Platillo2" class="form-control" />
                <span asp-validation-for="Platillo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guarnicion1" class="control-label"></label>
                <input asp-for="Guarnicion1" class="form-control" />
                <span asp-validation-for="Guarnicion1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guarnicion2" class="control-label"></label>
                <input asp-for="Guarnicion2" class="form-control" />
                <span asp-validation-for="Guarnicion2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guarnicion3" class="control-label"></label>
                <input asp-for="Guarnicion3" class="form-control" />
                <span asp-validation-for="Guarnicion3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postre" class="control-label"></label>
                <input asp-for="Postre" class="form-control" />
                <span asp-validation-for="Postre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agua" class="control-label"></label>
                <input asp-for="Agua" class="form-control" />
                <span asp-validation-for="Agua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
